.form-options {
    padding: 0.5em;
    font-size: 13px;
    width: 200px;
}

.option_btn {
    padding: 0.5em;
    margin: 0.5em;
    font-size: 14px;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
    color: white;
    border: none;
    border-radius: 4px;
}

.option_btn:hover {
    border: none;
    cursor: pointer;
}

.option_display {
    color: rgb(87, 35, 35);
    background-color: bisque;
    padding: 0.5em;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 23.5em;
    list-style: none;
    transition: background-color .2s ease-out;
}

.option_content {
    padding: 0.5em;
    text-transform: capitalize;
}


.option_display i {
    list-style: none;
    transition: background-color .2s ease-out;
}

div.option_list {
    padding: 0;
    width: 20em;
}

.correct_answer {
    padding: 2em
}

.option_display i:hover {
    cursor: pointer;
}

.toggle-question {
    padding: 2em 2em 0em;
    background-color: white;
    margin: 1em auto;
}

.container.questions {
    margin-top: 5em; 
}

blockquote {
    background-color: #f9f9f9;
    font-style: italic;
    font-size: 14px;
    margin-top: 1.5em;
}

.question_edit {
    margin-bottom: 0.3em;
}

.question {
    padding-bottom: 1.5em;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}

.question_options {
    margin: 0.5em;
    padding: 0.6em;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) ;
    width: 70%;
    border-radius: 4px;
    overflow: hidden;
}

.question_options.w-100 {
    width: 100%;
}

.question_content {
    list-style: none;
    padding: 0em 1em;
    overflow: hidden;
}

.question_content a {
    text-decoration: none;
}

.question-button {
    margin: 0px 0px 0px 0px;
    color: #050505;
    border: none;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    cursor: pointer;
    padding: 0em 1em
}