.form-options {
    padding: 0.5em;
    font-size: 13px;
    width: 200px;
}

.option_btn {
    padding: 0.5em;
    font-size: 16px;
    margin: 0.5em;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
    color: white;
    border: none;
    border-radius: 4px;
}

.option_btn:hover {
    background-color: rgb(52, 10, 107);
    border: none;
    cursor: pointer;
}

.option_display {
    color: rgb(87, 35, 35);
    background-color: bisque;
    padding: 0.5em;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 23.5em;
    list-style: none;
    transition: background-color .2s ease-out;
}

.option_content {
    padding: 0.5em;
    text-transform: capitalize;
}


.option_display i {
    list-style: none;
    transition: background-color .2s ease-out;
}

div.option_list {
    padding: 0;
    width: 20em;
}

.correct_answer {
    padding: 2em
}

.option_display i:hover {
    cursor: pointer;
}