.login-auth {
    text-align: center;
}

.login-space {
    margin-top: 20px;
}

.cover-all {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(212, 37, 54);
}

#institution_show .card-user .no_pics {
    margin: 0 auto;
    background-color: #aaa;
    font-size: 5em;
    padding: 0.3em;
}

#institution_show .card-user .title {
    text-transform: capitalize;
}

.edit_avatar {
    width: 12em;
    height: 12em;
    border-radius: 100%;
}

.login-form {
    display: inline-block;
    width: 20em;
    background-color: #ffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 0.25em;
    padding: 1.5em;
}

.login-img {
    width: 165px;
    height: 60px;
    margin: 3em auto 2em;
}

.input-css {
    height: 3em;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    border: 0.6px solid rgba(151, 151, 151, 0.21);
}

.login-button {
    background: linear-gradient(174.78deg, #F0AA22 -8.91%, #D42536 99.52%);
    margin-top: 2.5em;
    height: 3em;
    color: white;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}


.login-footer {
    display: flex;
    text-align: center;
}

.login-footer1 {
    flex: 1;
    padding: 6px;
    background-color: #3b5998 !important;
}

.nav-tabs li {
    width: 50%;
}

.nav-tabs li a {
    text-decoration: none;
    color: black
}

.alt-login-text {
    text-align: center;
    margin: 1em;
}

.login-footer2 {
    flex: 1;
    padding: 6px;
    background-color: red;
}

.social-icon {
    border: 0.6px solid rgba(151, 151, 151, 0.12);
    border-radius: 28px;
    height: 40px;
    width: 30px !important;
    color: white !important;
}

.social-icon span {
    margin-left: 0em;
}

li>a {
    text-decoration: none;
}


.nav-link a:hover {
    text-decoration: none !important;
    color: black !important;
}



.responsive-input {
    width: 40%
}

.react-tabs {
    width: 100% !important;
}

.react-tabs__tab {
    width: 50% !important;
}

.react-tabs__tab a {
    text-decoration: none !important;
    color: black !important;
}



.react-tabs__tab--selected {
    background: #fff !important;
    border-color: #aaa !important;
    color: black !important;
    border-radius: 5px 5px 0 0 !important;
    text-decoration: none !important;
}

.react-tabs a {
    text-decoration: none !important;
    color: black !important;
}


.headers {
    color: #D42536
}

.sub-head {
    color: #F0AA22;
}

.MuiFab-primary-52 {
    color: #fff;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
}

.MuiFab-primary-205 {
    color: #fff;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
}


@media screen and (max-width: 600px) {

    .login-form {
        width: 20em;
    }

    #login-button {
        margin-top: 40px;
    }

    .login-button-r {
        height: 35px;
        margin-top: 40px;
    }
}