#account-settings {
    background-color: white;
    padding: 2em;
    border-radius: 5px;
}

.btn-submit {
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
    color: white;
    font-weight: 700;
    border: none;
}

.no_avatar {
    margin: 0em 5em
}

.react-datepicker__input-container {
    width: 20px !important;
}

.control-text {
    text-align: left !important;
    margin-right: 5px !important;
}

.form-horizontal-info {
    width: 49em;
}

.form-horizontal-user {
    padding: 2em;
    background-color: white;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    width: 49em;
    margin-bottom: 2em;
}

/* mobile phone design */
@media screen and (max-width: 768px) {
    .react-datepicker__input-container {
        width: 16px !important;
    }

    .form-horizontal {
        width: 20em !important;
        margin-left: 1.2em !important;

    }

    .row {
        padding: 0% !important;
        margin: 0% !important;
    }

    #family-card {
        width: 21em !important;
    }

    .main-panel {
        position: static !important;
        clear: both !important;
        width: 100% !important;
    }

    h2 {
        font-size: 1em !important;
    }

    #institution-settings {
        padding: 0% !important;
        margin-left: 0.8em !important;
    }

    .container {
        padding: 0% !important;
        margin: 0% !important;
    }

    .form-horizontal-user {
        width: 20em !important;
        margin-left: 0.2em !important;
    }

    .text-center {
        width: 20em !important;
        margin-left: 0em !important;
    }

    .main-content {
        margin-left: 0% !important;
    }

    .container {
        margin-left: 0% !important;
    }

}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

/* landscape design */
@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}