#account-settings {
    background-color: white;
    padding: 2em;
    border-radius: 5px;
}

.btn-submit {
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
    color: white;
    font-weight: 700;
    border: none;
}

.react-datepicker__input-container {
    width: 20px !important;
}

.control-text {
    text-align: left !important;
    margin-right: 5px !important;
}

.form-horizontal-info {
    width: 49em;
}

.form-horizontal-user {
    padding: 2em;
    background-color: white;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    width: 49em;
    margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
    .react-datepicker__input-container {
        width: 16px !important;
    }

    .form-horizontal {
        width: 25em !important;
        margin-left: 0% !important;

    }

    .form-horizontal-user {
        width: 25em !important;
        margin-left: 0% !important;

    }

    .main-content {
        margin-left: 0% !important;
    }

    .container {
        margin-left: 0% !important;
    }

}