.add-uni {
    margin-left: 1em;
    margin-top: 20px;
    height: 4em;
    width: 4em;
    border-radius: 100px;
    background: linear-gradient(174.78deg, #3394AB -8.91%, #64DAF6 99.52%);
}



@media screen and (max-width: 600px) {
    #institution-settings {
        padding: 2em;
    }
}