.add-uni {
    margin-left: 1em;
    margin-top: 20px;
    height: 4em;
    width: 4em;
    border-radius: 100px;
    background: linear-gradient(174.78deg, #3394AB -8.91%, #64DAF6 99.52%);
}


.uni-text {
    margin-left: 0.0065em !important
}

.institution_logo {
    height: 5.5em;
    width: 100%;
}

.course-list-uni {
    width: 40em;
    margin-top: 4rem;
    margin-left: 2rem;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    height: 100% !important;
}

.margin-top {
    margin-top: 5%;
}


.course-list-uni li {
    background-color: #ffffff !important;
    padding: 0.5em;
    list-style: none;
    overflow: auto;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
}

.course-list-uni li div {
    float: left;
}

.add-icon-uni {
    margin-left: 40em;
    padding: 1em
}

.display-uni {
    text-decoration: none;
    color: black;
}

.display-uni:hover {
    text-decoration: none;
    color: black;
}

.unicard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    margin-top: 5em;
    margin-left: 1em;
}

.price {
    color: grey;
    font-size: 22px;
}

.unicard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.unicard button:hover {
    opacity: 0.7;
}


@media screen and (max-width: 600px) {
    #institution-settings {
        padding: 2em;
    }

    .uni-text {
        margin-left: 5em !important
    }

    .add-icon-uni {
        margin-left: 17.3em;
        padding: 1em
    }

    .push-down {
        margin-top: 10em;
    }
}