.btn-circle {
    padding: 0.4rem 1rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    line-height: 1.42857;
}

.add-icon {
    margin-left: 37em
}

.topic-card {
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding: 0.75em 1em;
}

.topic-card:hover {
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.topic_name {
    text-transform: uppercase;
    font-size: 1em
}

.lecture_type {
    text-transform: capitalize;
    color: rgb(53, 15, 15);
}

.topic-head {
    font-size: 1.3em
}

.course-name {
    text-transform: capitalize;
    margin-left: 2em;
}

.topics-cover {
    margin-top: 2em;
    text-align: left;
    padding: 3rem;
    margin-left: 3em;
}

.topic_content {
    margin-top: 3em;
}



#line-colored {
    height: 3px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 30em;
    border: none;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
}

#line-gray {
    height: 3px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 40em;
    border: none;
    background-color: grey;
}

.course_n_topics {
    text-align: center;
}

.topics-button {
    padding: 0.6em;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;
    border-radius: 5px;
    margin: 0px 0px 4px 6px;
    color: #ffffff;
    border: none;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
}

.topics-button:hover {
    opacity: 0.8;
    background: linear-gradient(174.78deg, #64daf6 -8.91%, #3394ab 99.52%) !important;

}

.align-course {
    display: inline-block;
}

.align-course h3 {
    text-align: left
}

.topics-cover li {
    list-style: none;
    border: 1px solid lightgray
}

.topics-cover ul {
    padding: 0% !important;
    margin: 0% !important;
}

.topics-span {
    background: gray;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

.form-horizontal {
    padding: 2em;
    background-color: white;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    width: 49em;
}


.Courses-ul-3 {
    width: 100% !important;
}

.Courses-listSection {
    width: 100% !important;
}

.center-div {
    margin-top: 4em;
}

.button-area {
    right: 24%;
    top: 8.5%;
    position: fixed;
    z-index: 1000;
}

.main-content .pr-20 {
    padding-right: 2em !important;
}

.course-listed {
    padding: 0;
    height: 35em;
    overflow: scroll;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2); */
}

.course-listed a {
    text-decoration: none !important;
    color: black;
}

.continue span {
    color: white !important;
}

.course-listed li {
    list-style: none;
    background-color: white;
    padding: 1.25em !important;
    margin-bottom: 0.2em !important;
    text-transform: capitalize;
}

.course-listed li:last-child {
    margin-bottom: 0;
}

.edit-button {
    font-size: 0.65em;
    padding: 0.3em;
    background: rgb(104, 2, 2);
    color: white;
    border-radius: 5px;
    position: relative;
    left: 0px;
    visibility: hidden;
    margin-top: 7px;
}

.edit-area:hover .edit-button {
    visibility: visible;
}

.edit-area {
    margin-left: 5em;
}

.edit-fa {
    font-size: 50px;
}

.course-listed a>li:hover {
    filter: brightness(70%);
}


.course-list {
    width: 49em;
    margin-top: 1rem;
    margin-left: 2rem;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    height: 100% !important;
}

.course-list li {
    background-color: #ffffff !important;
    padding: 0.5em 0 !important;
    list-style: none;
    overflow: auto;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
}

.list-course {
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2) !important;
    margin-top: 2em;
}

.course-list li div {
    float: left;
}

.course-list li {
    padding: 0.5em;
    width: 30%;
}

.user-list .btn {
    width: 5rem;
    margin: 0 0.25em;
    color: white;
}

.adjust-input {
    text-align: left !important;
}

.navbar-default .navbar-nav>li>a:not(.btn) {
    color: #ffffff !important;
}

.navbar-default .navbar-nav>li {
    width: 10em !important;
    padding: 0% !important;
    overflow: hidden !important;
}

.navbar-default .navbar-nav>li:hover {
    opacity: 0.7 !important;
    padding: 0% !important;
    border: 1px solid white;
    background: linear-gradient(174.78deg, #F0AA22 -8.91%, #D42536 99.52%);
}

.navbar-default {
    height: 2em !important;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.Courses-root-1 {
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: 400px !important;
    background-color: #fff;
    height: 100% !important;
}

.topic_count {
    margin-left: 0em !important;
}

.topic-text {
    margin-left: 30em !important;
    font-size: 0px !important
}

.MuiListSubheader-root-101 {
    color: rgba(240, 17, 17, 0.54) !important;
    font-size: 1rem !important;
    box-sizing: border-box;
    list-style: none;
    line-height: 50px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 800 !important;
}

.MuiListItemText-root-59 {
    flex: 1 1 !important;
    padding: 0 16px;
    min-width: 0;
}


.MuiTypography-subheading-72 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem !important;
    font-weight: 800 !important;
    line-height: 1.5em;
}

.remove-font {
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.8em !important;
    margin: 0em 0em 1em 0em;
}

.span-logout {
    line-height: 1.5em;
    font-size: 1.1em !important;
}

.navbar_avatar {
    height: 2em;
    width: 2em;
    padding: 0em 0.2em;
    border-radius: 100%;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}

@media screen and (max-width: 768px) {
    .course-list li {
        width: 5%;
    }

    .course-list {
        width: 95%;
        height: 100%
    }

    .add-icon {
        margin-left: 19.3em
    }


    .course-listed {
        width: 21em;
        padding: 0;
        height: 35em;
        overflow: scroll;
        margin-left: 1em !important;
        /* background-color: rgba(0, 0, 0, 0.1); */
        /* box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2); */
    }

    .button-area {
        right: 0% !important;
        left: 75%;
        top: 5.5%;
    }

}