.assessment_body {
    padding: 0em;
    margin: 0em 1em 1em;
}

.asses_name {
    background-color: #ffffff;
    padding: 2em;

}

.score_input {
    padding: 0em 0em 1em 0em;
}

.assessment_body li {
    overflow: hidden;
    list-style: none;
    padding: 1em;
    margin: 0em;
    background-color: white;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
}

#assessments_home {
    margin-top: 2em;
}

#assessments_home .card {
    padding: 3em 2em;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
}

#assessments_home .card .fa {
    width: auto;
}

#assessments_home .assessment_logo {
    font-size: 3em;
    color: #0a306d;
    margin: 0 auto;
}

#assessments_home .assessment_name {
    margin-top: 1em;
}

#assessments_home .assessment_course_name {
    color: grey;
    font-size: 12px;
}

#institutions_home .card {
    text-transform: capitalize;
}

#institutions_home .card i {
    font-size: 5em;
    width: auto;
    margin-bottom: 0.43em;
}

#institutions_home .card .institution_logo {
    width: 8em;
    height: 8em;
    border-radius: 100%;
}

.assessment_question .card {
    padding: 1em;
    border: 3px solid #64daf6;
    min-height: 9em;
}

.assessment_question .card label {
    margin-bottom: 0;
}

.assessment_question .card.selected {
    border-color: #39ff14;
}

.assessment_question label.answer_option input {
    margin: 2em;
}

#take_assessment .nav-buttons {
    text-align: right;
}

#take_assessment .nav-buttons button {
    margin: 2em;
}

#take_assessment .nav-buttons .finish-button {
    padding: 0.5em 1.5em;
    border: none;
    font-size: 16px;
}

@media (max-width: 480px) {
    #take_assessment .nav-buttons button {
        margin: 1em;
    }

    #take_assessment .nav-buttons {
        text-align: center;
    }

    #take_assessment .nav-buttons .finish-button {
        font-size: 12px;
    }
}