.user_group_image {
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

.group-card {
    background-color: #ffffff;
    padding: 1.5em;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    width: auto;
    text-align: center;
    font-size: 1em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 2em 0em;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.group_delete {
    color: red;
    cursor: pointer;
    margin: 0 auto;
}

#show_group textarea {
    width: 80%;
}

#show_group ul.group_attendances {
    margin: 1em auto;
    list-style: none;
    padding: 0;
}

#show_group ul.group_attendances li {
    background-color: #ffffff;
    padding: 1.5em;
    box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.2);
    margin: 0.25em;
}

.sidebar .nav p {
    display: inline;
    vertical-align: top;
}

.sidebar .nav svg {
    margin-right: 0.35em;
}




@media (max-width: 480px) {
    .group-card {
        width: inherit;
        margin-left: 1em
    }

}

@media screen and (max-width: 768px) {
    table {
        display: block;
    }
}